<div class="center-xs">
  <h1 class="center-xs inicio">¿Qhe es sicMu?</h1>
  <p class="center-xs inicio err">sicMu es una aplicación web que su objetivo principal es darle la opción al usuario de subir, escuchar, eliminar o editar la información de sus canciones. Además, la aplicación web cuenta con un inicio, donde el usuario puede darle reproducir, y las canciones irán sonando hacia abajo, con las canciones propias y las subidas por los demás usuarios. Por lo cual el inicio es una lista de reproducción mixta con las canciones de todos los usuarios. Pero el usuario tiene un perfil, donde podrá escuchar las canciones que han sido subidas por él. Además, si desean una canción en específico, podrán buscarla en nuestro buscador. La canción aparecerá si otro usuario ya la subió en otra ocasión.
  </p>
  <a><img src="https://s-media-cache-ak0.pinimg.com/originals/09/ec/7c/09ec7ca8b84cced3cc38c7fcf734be78.png"/></a>
</div>
